.picker {
  display: flex;
  flex-direction: column;
}

.left {
  overflow: scroll;
}

.left, .right {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}